[project]
	description = first program
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anomand3r
[access "refs/for/refs/*"]
	read = group user/anomand3r
	push = group user/anomand3r
	label-Code-Review = -2..+2 group user/anomand3r
	label-Verified = -1..+1 group user/anomand3r
	rebase = group user/anomand3r
	removeReviewer = group user/anomand3r
	submit = group user/anomand3r
[access "refs/heads/*"]
	read = group user/anomand3r
	create = group user/anomand3r
	push = +force group user/anomand3r
	pushMerge = group user/anomand3r
[access "refs/tags/*"]
	push = group user/anomand3r
	push = +force group user/anomand3r
